:root {
	--bbva1: #006ec1;
	--bbva2: #009ee5;
	--bbva3: #52bcec;
	--bbva4: #89d1f3;
	--bbva5: #b5e5f9;
}

body {
	background: white;
}

.custome_navbar {
	background: var(--bbva1);
	height: 10vh;
}

.custome_footer {
	height: 10vh;
	background: var(--bbva1);
}
.custome_section {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {
	color: white;
	font-size: 10rem;
	font-weight: bold;
	background: transparent;
}

.backgroundInit {
	background: var(--bbva1);
}
.marginNav {
	padding-left: 1rem;
	color: white;
}

.text-nav {
	color: white;
}
.text-nav:hover {
	color: var(--bbva4);
}

.bg_outputs {
	background: var(--bbva1);
}

.text-bbva-primary {
	color: var(--bbva1);
}
