
:root{
    --bbva1:#006EC1;
    --bbva2: #009EE5;
    --bbuva3:#52BCEC;
    --bbva4:#89D1F3;
    --bbva5:#B5E5F9;


}

body{
    background: white;
}

.custome_navbar{
    background:var(--bbva1);
}

